@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  ::-webkit-scrollbar-horizontal {
    height: 10px;
  }

  ::-webkit-scrollbar-track-horizontal {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb-horizontal {
    background: #888;
  }
}

.toggle {
  @apply bg-background border-border text-foreground transition ease-in delay-100;
}

.ant-card .ant-card-body {
  padding: 16px;
}

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  @apply bg-background border-border text-foreground border-slate-500;
}

.custom-card .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: hsl(var(--foreground)) !important;
  font-weight: bold;
}

.custom-card .ant-tabs-tab-btn {
  color: gray;
  transition:
    color 0.3s,
    border-color 0.3s;
}

.custom-card .ant-tabs-tab:hover .ant-tabs-tab-btn {
  color: hsl(var(--foreground));
}
.custom-card .ant-tabs-ink-bar {
  background-color: hsl(var(--accent-foreground));
}

.ant-card-bordered {
  border: none;
}

.ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: none;
}

.ant-card .ant-card-head {
  border-bottom: none;
}

.ant-input-outlined:hover {
  background: hsl(var(--border));
}

.ant-input-outlined:focus-within {
  background: hsl(var(--border));
}

@media screen and (max-width: 640px) {
  .ant-card .ant-card-body {
    padding: 16px 0;
  }
}
